* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}



/* color scheme colors::after
     -- #204161  blue-purple
     -- #ccc294  light-grey 
     -- #000      black
     -- #fff      white
*/


/* header section Styles  */

.hero_section {
     background: #204161;
     padding: 10px 70px;
     color: #fff;
}

.hero_wrapper {
     display: grid;
     grid-template-columns: 1fr 4fr;
     grid-template-rows: 250px;
     margin-bottom: 5%;
}

.column_left {
     display: flex;
     justify-content: center;
     flex-direction: column;
     justify-content: center;     
     align-items: center;
     padding: 30px;
     margin-top: 25%;
}

.column_left img {
     width: 75%;
     height: auto;
}

.column_left h1 a {
     color: #fff;
     text-decoration: none;
}


.column_left h1 {
     font-size: 1rem;
     text-align: center;
     line-height: 1.5;
}


/* .column_right {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0 10px;
} */




.header_nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 10%;
     padding: 0 100px;
}


.header_nav a {
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 18px;
     font-weight: 700;
}




/* header section tablets */
@media screen and(max-width: 1100px) {
     .hero_section {
          padding: 30px;
     }

     .hero_wrapper {
          grid-template-columns: 1fr;
     }

     .column_left h1{
          font-size: 1rem;
     }

} /**** END media query */


/* header section smartphones */

@media screen and (max-width: 468px){
     .hero_wrapper{
          grid-template-rows: 600px;
     }
     
     .column_left h1{
          font-size: 1rem;
     }

}  /**** END media query */




/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/




/*   home section styles  */


.home {
     background:  #000;
     color: #fff;
   }
   
   .home_container {
     padding-top: 2%;
     padding-bottom: 2%;
     padding-left: 3%;
   }
   
   .home_container h1 {
     font-size: 110px;
     color: black;
     -webkit-text-fill-color: transparent;   /* Will override color (regardless of order) */
     -webkit-text-stroke-width: 3px;
     -webkit-text-stroke-color: #fff;
     margin-bottom: 32px;
   }
   
   .home_grid {
     display: grid;
     grid-template-columns: 1fr 3fr;
     height: 800px;
   }

   .aside_content {
     padding: 5%;
     margin-left: 8%;
   }

   .aside_content h2 {
        margin-bottom: 10%;
   }


   .home_right {
     margin-top: -50px;
     padding: 5px 100px 0 20px;
   }   
   
   .recent_projects {
     display: flex;
     flex-flow: row wrap;
     /* flex-direction: row; */
     justify-content:center;
     padding: 2px 2px;
   }
   
   .recent_projects div img {
     
     padding: 0px;
     width: 100%;
     height: 100%;
   }

   .img_links a {
     text-decoration: none;
}
  

  /* Home  big desktop styles  */

   @media screen and (max-width: 1368px) {
     
     .recent_projects {
       display: flex;
       flex-flow: row wrap;
       width: 120%;
       height: 100%;
       margin-top: 3%;
     }

     .recent_projects div {
       max-width: 90%;
       max-height: auto;
       margin: -2%;
     }

     .recent_projects div img {

          padding: 0px;
          max-width: 100%;
          max-height: 100%;
     }
   }
.contact-list a {
  text-decoration: none;
}


/* home tablet styles  */

   @media screen and (max-width: 1000px) {
         
          .home {
               padding: 30px;
          }
     
          .home_container h1 {
          font-size: 70px;
          }
     
          .home_grid {
          grid-template-columns: 1fr  2fr;
          }
     
          .home_container {
          padding-left: 0px;
          }
     
          .home_right {
          margin-bottom: 60px;
          }
   }

   /* home smartphone styles  */
   
   @media screen and (max-width: 468px) {
          .home {
          padding: 10px;
          }
     
          .home_container h1 {
               font-size: 40px;
          }
   }

   /* END home section smartphone styles  */
   


   


   
/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/




/*   about section styles  */


.about_section {
     padding: 60px 60px;
     background:  #204161;
     color: #fff;
   }
   
   .about_container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
   }
   
   .about_container h1 {
     font-size: 110px;
     color: black;
     -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: #fff;
     margin-bottom: 32px;
   }
   
   .about_content {
     display: grid;
     grid-template-columns: 1fr 2fr;
     grid-template-rows: 500px;
   }
   
   .about_text h2 {
     font-size: 30px;
     line-height: 1.5;
     margin-bottom: 4%;
   }
   
   .about_text p {
     margin-bottom: 16px;
     line-height: 2.3;
   }

   .about_image {
     display: flex;
     justify-content: center;     
   }
   
    .about_imgtag {
     max-width: 70%;
     height: auto;
     border-radius: 2rem;
   } 
   
   .about_text h2 {
     margin-bottom: 40px;
     font-size: 30px;
   }
   

   
   
   /* about section tablet styles : media queries */

   @media screen and (max-width: 1000px) {

     .about_section {
       padding: 30px;
     }
     .about_content {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
     }
   
     
      .about_image {
       margin-top: 40px;
     } 
   
     .about_container h1 {
       font-size: 70px;
     }
   }
   
   

   /*  about section smartphones: media queries */


   @media screen and (max-width: 468px) {

     .main_text h2 {
       font-size: 32px;
     }
   
     .main_imgtag {
       width: 100%;
       height: 100%;
     }
   } 




/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/





   /* skills section styles  */


   .skills {
     background:  #204161;
     color: #fff;
     position: relative;
   }
   
   .skills_container {
     background: #000;
     padding-top: 100px;
     padding-bottom: 100px;
     padding-left: 60px;
   }
   
   .skills_grid {
     display: grid;
     grid-template-columns: 2fr 2fr;
     grid-template-rows: 700px;
   }
   
   .skills_container h1 {
     font-size: 50px;
   }
   
   .skills_left {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     padding: 0 50px;
   }
   
   .skills_content {
     display: flex;
     align-items: flex-start;
   }

   
   .skills_content img {
     margin-right: 50px;
   }
   
   .skills_desc h2 {
     font-size: 16px;
     text-transform: uppercase;
     margin-bottom: 16px;
   }
   
   .skills_desc p {
     line-height: 2;
   }
   

   /* .macbook {
     height: 700px;
     width: 100%;
     }
   */

   .action_call {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px;
   }

   .action_call h2 {
     font-size: 16px;
     text-transform: uppercase;
     margin-bottom: 16px; 
   }

.action_call p {
     line-height: 2;
}

.action_call p label{
     color: #fff;
}


.input_fields {
     border: 1px solid #fff;
}




   
   .email_bar {
     background:  #ccc294;
     height: 80px;
     bottom: -40px;
     right: 0;
     width: 80%;
     color: #000;
     display: flex;
     justify-content: flex-start;
     align-items: center;
   }
   
   .email_bar img {
     margin: 0 40px;
   }
   
   .email_bar p {
     margin-right: 40px;
     font-weight: 700;
     text-transform: uppercase;
   }
   
   /* Media Queries */
   @media screen and (max-width: 768px) {
     .skills_grid {
       grid-template-columns: 1fr;
     }
   
     /*  
     .macbook {
       display: none;
     }
     */
   
     .email__bar {
       width: 100%;
       justify-content: flex-start;
     }
   }

   /* skills section smartphone styles  */
   
   @media screen and (max-width: 468px) {

     .skills_container {
       padding-top: 100px;
       padding-bottom: 160px;
       padding-left: 16px;
     }
   
     .skills_grid {
       grid-template-columns: 1fr;
       grid-template-rows: 900px;
     }
   
     .skills_container h1 {
       text-align: center;
       margin-bottom: 100px;
     }
   
     .skills_left {
       padding: 0 24px;
     }
   
     .skills_content {
       margin-top: 40px;
     }
   
     .skills_content img {
       margin-right: 16px;
     }
   
     .email_bar img {
       margin: 0 20px;
     }
   
     .email_bar p {
       margin-right: 20px;
     }
   }

   


/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/




   /*  portfolio Section styles  */

   .portfolio {
     background:  #000;
     color: #fff;
   }
   
   .portfolio_container {
     padding-top: 100px;
     padding-bottom: 100px;
     padding-left: 60px;
   }
   
   .portfolio_container h1 {
     font-size: 110px;
     color: black;
     -webkit-text-fill-color: transparent;   /* Will override color (regardless of order) */
     -webkit-text-stroke-width: 3px;
     -webkit-text-stroke-color: #fff;
     margin-bottom: 32px;
   }
   
   .portfolio_main {
     display: grid;
     grid-template-columns: 1fr 3fr;
   }

   .portfolio_sidenav {
        background: #204161;
   }


   .portfolio_sidenav a {
     color: #fff;
     text-decoration: none;
   }

   .portfolio_sidenav li {
        list-style-type: none;
        line-height: 2;
   }
   
   
   
   .portfolio_right {
     padding: 5px 100px 0 20px;
   }   
   
   .portfolio_projects {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 2px 2px;
   }
   
   .portfolio_projects img {
     
     padding: 0px;
     width: 100%;
     height: auto;
     margin: 3%;
   }

   .img_links a {
     text-decoration: none;
}
   
  /* portfolio big desktop styles  */

   @media screen and (max-width: 1368px) {
     
     .portfolio_projects {
       flex-direction: column;
     }
   }


/* portfolio tablet styles  */

   @media screen and (max-width: 1000px) {
         
          .portfolio {
               padding: 30px;
          }
     
          .portfolio_container h1 {
          font-size: 70px;
          }
     
          .portfolio_main {
          grid-template-columns: 1fr;
          }
     
          .portfolio_container {
          padding-left: 0px;
          }
     
          .portfolio_right {
          margin-bottom: 60px;
          }
   }

   /* portfolio smartphone styles  */
   
   @media screen and (max-width: 468px) {
          .portfolio {
          padding: 10px;
          }
     
          .portfolio_container h1 {
          font-size: 40px;
          }
   }
   




/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/



   /* contact section styles  */


   .contact_section {
     display: flex;
     align-items: center;
     background: #204161;
     padding: 100px 0;
   }

   .contact_container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
   }


   .contact_container h1 {
     font-size: 110px;
     color: black;
     -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: #fff;
     margin-bottom: 32px;
   }
   
   .contact_content {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 700px;
   }


   .contact_text h2 {
     font-size: 48px;
     color: #fff;
     line-height: 1.5;
     margin-bottom: 32px;
   }
   
   .contact_text p {
     margin-bottom: 50px;
     line-height: 2.3;
     color: #fff;
   }

  

   /* contact tablet and smartphone styles  */
   
   @media screen and (max-width: 768px) {

     .contact_section {
       flex-direction: column;
     }
   
     .contact_container {
       width: 100%;
       justify-content: center;
     }
   
     .contact_text p {
       margin-right: 16px;
     }
   
   
     .contact_container h1 {
       margin-left: 0;
       margin-top: 24px;
       font-size: 32px;
     }
   }




/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/


/* footer styles   */
   
   .footer {
     background: #204161;
     color: #fff;
   }
   
   .footer_container {
     padding: 60px;
     display: grid;
     grid-template-columns:40% 1fr;
   }
   
   
   .footer_left h2 {
     margin-bottom: 24px;
   }
   
   .footer_left p {
     line-height: 2;
   }
   
   .footer_right {
     display: flex;
     justify-content: space-evenly;
     padding: 0 100px;
     height: 200px;
   }
   
   .footer_right a {
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 700;
   }


   
/* footer tablet styles  */

   @media screen and (max-width: 1000px) {
          .footer_container {
          padding: 60px 24px;
          grid-template-columns: 1fr 1fr;
          }
   
          .footer_right {
          flex-direction: column;
          }
   }




   /* footer smartphone styles  */
   
   @media screen and (max-width: 468px) {
     .footer_right {
       padding: 0 16px;
     }
   }
   