

/* color scheme colors::after
     -- #204161  blue-purple
     -- #3872ab  lighter blue-purple
     -- #ccc294  light-grey 
     -- #000      black
     -- #fff      white
*/




/* ------- GLOBAL SCOPE STYLES ------------ */

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     
}

h1 {
  font-size: 2em;
}

p {
  font-size: 18px;
  max-width:60ch;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
  max-width:60ch;
}


/* DESKTOP SECTION TITLES: Outline lettering titles */

.section_text h1 {
  font-size: 100px;
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 2%;
}


/* Make on-click navigation from section to section scroll smoother */

html {
  scroll-behavior: smooth;
  color: #fff;
}


/* Style text links */

.text_link a {
  text-decoration: underline;
  color: #fff;
  font-style: italic;
}



/* anchor tag wrapped image links */

.img_links a {
  text-decoration: none;
}




/* -------- END Style text links ---------- */





/* --- GLOBAL MOBILE and TABLET STYLES */


@media screen and (min-width:438px) and (max-width:700px) {


  /* Div margins */

  /* for heading section titles bottom margin */
  div.section_title_container {
    margin-bottom: 8%;
    width: 100%;    
  }
  
  

  /* ---GLOBAL Heading text SIZE---*/

    
  #home_section h1,
  #about_section h1,
  #skills_section h1,
  #portfolio_section h1,
  #contact_section h1 {
      font-size: 5em;
      color: black;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;      
      margin-top: 3%;            
      border-bottom: 1px solid #fff;
  }


  #home_section h2,
  #about_section h2,
  #skills_section h2,
  #portfolio_section h2,
  #contact_section h2 {
    font-size: 1.8em;
  }

  #home_section h3,
  #about_section h3,
  #skills_section h3,
  #portfolio_section h3,
  #contact_section h3 {
    font-size: 1.5em;
    margin: 0;
  }

  #home_section h4,
  #about_section h4,
  #skills_section h4,
  #portfolio_section h4,
  #contact_section h4 {
    font-size: 1em;
    
  }


  /* GLOBAL MOBILE TABLET Paragraph TEXT SIZE  --- */

  /* #home_section p,
  #about_section p,
  #skills_section p,
  #portfolio_section p,
  #contact_section p {
    font-size: 0.7em;
    
  } */


  

} /*--END MEDIA QUERY */


/* MORE GLOBAL MOBILE STYLES */

@media screen and (max-width:650px) {
  

  /* for heading section titles bottom margin */
  div.section_title_container {
    margin-bottom: 8%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #home_section .section_title_container h1,
  #about_section .section_title_container h1,
  #skills_section .section_title_container h1,
  #portfolio_section .section_title_container h1,
  #contact_section .section_title_container h1 {
    
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;  
  }

} /* END media Query*/




/* ------- END GLOBAL SCOPE STYLES ------------ */





/* -------------------------------------------------------------- */
/* header section Styles  */

.hero_section {
     background: #204161;
     padding: 10px 70px;
     color: #fff;
}

.hero_wrapper {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 250px;
     margin-bottom: 5%;
}


.logo_banner_desktop {
     display: flex;     
     flex-direction: column;
     justify-content: center;     
     align-items: center;
     padding: 50px;     
     margin-top: 7%;
     width: 100%;
}

.logo_banner_desktop img {
     width: 60%;
     margin-bottom: 4%;
     height: auto;
}

.logo_banner_desktop h1 a {
     color: #fff;
     text-decoration: none;
}


.logo_banner_desktop h1 {
     font-size: 1.5em;
     text-align: center;
     line-height: 1.5;
}

/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */

      /* DESKTOP NAVIGATION */

/* -------------------------------- */
      /* HIDE MOBILE NAV and LOGO */

.topnav,.mobile_logo {
     display: none;
}

.mobile_header_identity {
  display: none;
}

/* --------------------------- */


/* SHOW DESKTOP STICKY NAV BAR */


#id_desktop_nav {
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
     z-index: 10;
     display: flex;
     flex-direction: row;
     justify-content: center;
     column-gap: 4px;
     padding: 4px;     
     background-color: #000;
     border-bottom: 1px solid #fff;
     width: 100%;     
   }
   
   #id_desktop_nav a {     
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 400;
     padding: 14px 16px;     
   }


   #id_desktop_nav a:hover {
     background-color: #d3d3d3;
     color: black;
     padding: 14px 16px;
   }
   
   #id_desktop_nav a.active {
     background-color: #3872ab;
     color: white;
   }

   /* -------------------------------------------------------------- */


   



/* header section tablets */
@media screen and(max-width: 800px) {
     .hero_section {
          padding: 30px;
     }

     .hero_wrapper {
          grid-template-columns: 1fr;
     }

     .logo_banner h1{
          font-size: 0.5em;
     }

} /**** END media query */






/* header section smartphones */

@media screen and (max-width: 600px){

     /* HIDE desktop nav bar, logo, and h1 */
     .hero_wrapper{
          position: relative;
          left: -10000px;
          display: none;
          
     }

     #id_desktop_nav {
          position: relative;
          top: -10000px;
          left: -10000px;
          display: none;    
     }


     /* SHOW mobile nav bar and logo */

     .hero_section {
          height: 240px;
          width: 100%;          
          padding: 0% 1% 30px 1%;
     }
     
     .mobile_logo img {
          width: 30%;
          height: auto;          
     }

     .mobile_logo a {          
          text-decoration: none;          
     }

     .mobile_header_identity {    
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top:100px;      
      width: 100%;       
       padding: 5% 4%;
       text-align:center;       
       color: #fff;
     }

     .mobile_header_identity h1 {     
        font-size: 1.5em;
        margin-top: 2%;
        margin-bottom: 2%;       
     }
     
     .mobile_header_identity p {
       font-size: 1em;      
     }

     .topnav {
          /* overflow: hidden; */
          display: block;
          background: #000;
          position:fixed;
          position: -webkit-sticky;
          top: 0;
          right: 0;
          left: 0%;
          z-index: 10;          
          border-bottom: 1px solid #fff;
        }
        
        #mobileLinks {
          display: none;                    
        }

        #mobileLinks {
          position: relative;
          z-index: 20;                    
          border-bottom: 2px solid #fff;
        }
        
        .topnav a {
          color: #fff;
          background: #000;        
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          font-size: 17px;
          padding: 14px 30px;                  
          display: block;
        }

        .menu_btn {
          font-size: 14px;
          font-weight:bold;
        }
        
        /* OPEN button position and styles */

        .topnav a.icon  {  
            width: 18%;
            height: auto;        
            background: #000;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            padding: 1% 2%;
            margin: 8% 4% 0 0;            
            border: 2px solid #fff;
            border-radius: 0.25em;          
        }

        /* CLOSE button position and styles */

        #mobileLinks a.close_icon  {  
          font-size: 45px;
          width: 20%;
          height: auto;        
          background: #000;
          display: block;
          position: absolute;
          top: -101px;          
          right: 15px;          
          padding: 1% 2%;
          margin: 0;            
          /* border: 2px solid #fff;
          border-radius: 0.25em;           */
      }

      /* HOVER color for menu items */
                
        #mobileLinks a:hover {          
          background: #ccc294;
          color: black;
        }

}  /**** END media query */




/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/


      /* --------------------------------------------- */

                  /*   HOME STYLES  */

      /* ------------------------------------------- */


/* w3-css custom styles */


#home_section {
    width: 100%;
    height: auto;
    background:  #000;
    color: #fff;
    border-bottom: 1px solid #fff; 
}


.home_left h3 {
  margin: 15% auto 6% 12%;
}

.drop_cap_homesection {
  font-family: 'Yellowtail', cursive;
    font-size: 1.8em;
}


.home_right {  
  height: 350px;
}


/* Move both left and right columns upward in their div container */

.home_left {
  margin-top: -5%;
}

.home_right {
  margin-top: -10%;
}


/* RECENT Work Card Styles: Home Section */


.recent_work_card {
  max-width: 300px;
  min-width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}


.recent_work_card_color {
  background-color: #204161;
}

.recent_work_card h4 {
  font-family: 'Yellowtail', cursive;
    font-size: 2em;
}

.recent_work_card p {
    font-size: 17px;
}



    /* HOME TABLET QUERY */

    @media screen and (min-width:700px) and (max-width:1024px) {

      .home_right {
        margin-top: -5%;
      }      

    } /* END Media Query: HOME Tablet styles*/

 
  

   /* ----- home_section smartphone styles -------  */

   
   @media screen and (max-width: 650px) {
          
        .home_left h3 {
            margin: 5% auto 6% 12%;
        }

        /* Move both left and right columns upward in their div container */

        .home_right, .home_left {
          margin-top: 5%;
        }



   } /* END media query home section smartphone styles  */
   


   


   
/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/



                  /* ------------------------------------- */
                  
                        /*   ABOUT STYLES  */

                /* ----------------------------------------------- */


/* w3-css custom styles */

#about_section {  
  background:  #000;
  color: #fff;
  border-bottom: 1px solid #fff; 
}

.drop_cap_aboutsection {
  font-family: 'Yellowtail', cursive;
    font-size: 4em;
}


.about_left_column {
  margin:0 0 0 auto;  
}

.about_left_column p {
    font-size: 1.2em;
}


.about_right_column > div {
  margin-top: -25%;  
}



.about_img img {
  max-width: 250px;  
  width: 48%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 8%;     
  padding: 2%;
  border-bottom: 1px solid #fff;
  border-radius: 1.5em;
}



.about_btns a {
 background: #000;
 font-size: 1.5em;
 width: 60%;
 height: 50px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 8%;
 border: 3px solid #fff;
 border-radius: 1em; 
}

.about_mobile {
  display: none;
}



  /* END ABOUT DESKTOP STANDARD STYLES  */


   
   
                  /* ABOUT MEDIA QUERIES */


    /* ABOUT TABLET QUERY */

@media screen and (min-width:700px) and (max-width:1024px) {

  .about_btns a {
      width: 75%;
      height: 60px;
      font-size: 1.8em;
      border-radius: 0.8em;      
  }

} /* END tablet media query */

/* ----------------------------------------------- */
           /* TABLET between 665px and 820px */

/* ----------------------------------------------- */

@media screen and (min-width:665px) and (max-width:820px) {
    
    .about_right_column {
      margin-top: -10%;  
    }
  
    
    .about_img img {    
      width: 60%;
      height: auto;
      margin-top: 5%;
      margin-bottom: 8%;     
      padding: 2%;
      border-bottom: 1px solid #fff;
      border-radius: 1.5em;
    }
  
  
  
  .about_btns a {
   width: 90%;
   height: 60px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%; 
  }
  

} /*  END min-width 665px and max-width 820px*/  

/* -------------------------------------------------- */


   
/* --------------------------------------------------------------- */
   /*  ABOUT MEDIA QUERIES SMARTPHONES */

/* ------------------------------------------------------------------ */


   @media screen and (max-width: 605px) {

     
    .about_mobile {
      display: block;
      width: 60%;
      height: auto;
      margin: 5% auto 18% auto;      
      border-bottom: 1px solid #fff;
      border-radius: 1.5em;
    }
    
    .about_right_column > div {
      margin-top: 5%;  
    }
    
    
    /* HIDE desktop profile img */
    .about_img img {      
      display: none;
    }
    
    
    
    .about_btns a {
     width: 100%;
     font-size: 1.5em;
     height: 60px;
     margin: 0 auto 15% auto;     
    }
    
    
    /* OR */
    
    .about_text h2 {
       font-size: 20px;
     }
   
     .about_image img {
       width: 100%;
       height: 100%;
     }

     /* OR  */

     .w3-third {
      margin-top: 4%;     
       padding: 5%;
    }
     
   } /*--END media query about section smart phones-----*/ 




/* ------------------------------------------------------------------------------
*/




              /* --------------------------------------- */
                
                 /*---- SKILLS SECTION styles ----*/
              
              /* ----------------------------------- */


   section.skills {
    background: #204161; 
    border-bottom: 1px solid #fff;
   }   
  

  section.skills  h4 {
    font-weight:bold;
    margin-left: 10%;
  }

  section.skills > .skills_container {
      margin-bottom: 10%;
  }

  .skills_column h2 {
      font-size: 1.7em;
  }

  .skills_column p {
    font-size: 1.3em;    
    margin-bottom: 8%;
  }

  .skills_column ul {
      list-style-position:unset;
      font-size: 1.3em;      
      margin: 4% auto 4% 18%;
  }
  
.skills_column ul li {
  line-height: 1.5;
  margin-left: 10%;  
}

.skills_column h4 {
  font-size: 1.4em;
  margin: 4% auto 0 auto;  
}
 

  .skills_right .call_box {
      width: 140%;
      height: auto;     
      background: #000;
      border-radius: 1em;
      margin: 8% auto 5% auto;
      border-bottom: 4px solid #fff;      
  }

  .call_box a {
    background: #204161;
    border-radius: 2em;
    width: 80%;
    height: 45px;
    padding: 3% 0 3% 0;
    margin: 15% auto 3% auto;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;    
  }



        /* ------------------------------- */
           /* media query SKILLS SECTION SMARTPHONE styles */
        /* -------------------------------------- */

@media screen and (max-width: 650px) {

    
  .skills_container .skills_column h2 {
    font-size: 2.5em;
    margin: 0 auto 0 auto;
  }
  
  .skills_right .call_box {
      width: 100%;
      height: auto;     
      background: #000;
      border-radius: 1em;
      margin: 15% auto 5% auto;
      border-bottom: 4px solid #fff;      
  }

  .skills_right .call_box a {
      background: #204161;
      width: 50%;
      height: 50px;
      padding: 4% 0 4% 0;
      margin: 15% auto 3% auto;
      font-size: 1em;      
  }

} /* END media Skills smartphone styles*/

  
/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/



            /* ---------------------------------------- */
            
                     /*  PORTFOLIO STYLES */
            
             /* ------------------------------------------ */

   

   section.portfolio {
    background:#204161;
    padding: 10px 20px;    
    border-bottom: 1px solid #fff;
   }


   .projects_nav a {
        text-decoration: none;
        color: #fff;
   }

   .projects_nav li {
       list-style-type:none; 
   }
   


/* ------- FLIP CARD STYLES --------------- */


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
    background-color: transparent;
    max-width: 80%;
    height: 480px;
    margin: 0 auto 15% auto;     
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */    
}

/* Flip Card Reflection */

.flip-card-reflection {
  -webkit-box-reflect: below 7px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(87%, transparent), to(rgba(255, 255, 255, 0.6)));
}

/* flip card front side styles and sizing */


.flip-card-front img {
    width: 100%;
    height: auto;
    border-radius: 1.4em 1.4em 0 0;
}


/* Flip card Inner (back side) styles */

/* This container is needed to position the front and back side */


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;    
    border-radius: 1.4em;    
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 6px solid #fff;
    border-radius: 1.4em;    
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
  background-color: #000;
  color:#fff;
}

.flip-card-front h4 {
  font-size: 20px;
  font-weight: bold;
  padding: 0 2% 0 2%;
  margin: 10% 0 2% 0;
}


.flip-card-front p {
  font-size: 18px;
  font-weight: 300;
  margin: 4% 0 2% 0;
}



/* Style the back side */

.flip-card-back {
    background-color: #000;
    color: #fff;
    padding: 5%;
    transform: rotateY(180deg);
}


/* Style back side text */


.flip-card-back p {
  font-size: 1.1em;
  margin: 5% 0 2% 0;
}

.flip-card-back a {
    width: 80%;
    background: #204161;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 0.9em;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;    
}

.card_spacing a {    
    margin: 20% auto 0 auto; 
}



/* --------- END FLIP CARD STYLES --------------- */




/* ------------------------------------------- */

      /* PORTFOLIO MEDIA QUERIES */

/* ------------------------------------------- */



/* PORTFOLIO media query : TABLET STYLES */

@media screen and (min-width:700px) and (max-width:1024px) {

    
  .flip-card .flip-card-inner .flip-card-front h4  {
    font-size: 1.5em;
    margin: 10% 0 5% 0;
  }
  
  
  .flip-card .flip-card-inner .flip-card-front p {
      font-size: 1.5em;
      margin-left: 2% 0 5% 0;
    }

    .flip-card-inner .flip-card-back p {
        font-size: 1em;
    }

    .flip-card-inner .flip-card-back a {
      font-size: 1.3em;
  }

} /* END MEDIA QUERY*/






   
   /* PORTFOLIO media query SMARTPHONE STYLES  */


   
   @media screen and (max-width: 650px) {
          
    
    /* TURN OFF FLIP CARD REFLECTION */
    .flip-card-reflection {
      -webkit-box-reflect: unset;
    }

    .flip-card {
      max-width: 105%;
    }

    
    
    .flip-card .flip-card-inner .flip-card-back a {
      font-size: 1.2em;
  }


   } /* END media query portfolio section for smartphones*/
   




/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/


    /* ----------------------------------- */

      /* CONTACT SECTION STYLES */

      /* --------------------------- */


/* HIDE Mobile ONLY Contact Section Social media */
div.contact_show_mobile {
  display: none;
}
  
      
   section.contact {
    background:#000;    
    border-bottom: 1px solid #fff;
   }

.contact_left {
    margin: 12% auto 0 auto;
}


.contact_right {
  margin: -10% auto 0 auto;
}

   .contact p {
     margin: 18% 0 5% 0;
   }


   .contact label {
     font-size: 1em;
   }


/* SMARTPHONE IMAGE CREATED BY CSS and DIVS */

.card_phone {
  background: #000;   
  max-width: 200px;
  height: 330px;
  margin: -18% auto 10% auto;
  border-top: 4px solid #fff;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 10px solid #fff;        
border-radius: 1.4em; 
}

/* creates reflection effect below phone graphic */

.phone_reflection {
  -webkit-box-reflect: below 7px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(60%, transparent), to(rgba(255, 255, 255, 0.6)));
}

/* Phone screen styles and sizing */

.card_phone_screen {
 background: #000;
  width: 90%;
 height: 260px;
 padding: 4%;
 margin: 10% auto 10% auto;
 border: 2px solid #fff;        
}

.contact_left .card_phone_screen > h3 {
  font-family: 'Yellowtail', cursive;
  font-size: 2em; 
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  margin: 22% auto 10% 9%;  
}

   
/* END SMARTPHONE IMAGE CREATED BY CSS and DIVS */



/* CONTACT SECTION SOCIAL MEDIA ICONS */


.contact_social_icons{
  width: 100%;
  height: 300px;
  margin: 18% auto 0 auto;
}

.contact_social_icons .fa {
  background: #204161;
  border: 1.5px solid #fff;
  width: 50px;
  height: 50px;
  padding: 8% 2% 2% 2%;
  margin-right: 5%;
  font-size: 2.3em;  
  text-decoration: none;    
}

.contact_social_icons a.fa-linkedin {
  padding-bottom: 10%;
}





/* CONTACT  MEDIA QUERIES : TABLET STYLES */

@media screen and (min-width:700px) and (max-width:1024px) {

    
    /* HIDE Mobile ONLY Contact Section Social media */
    div.contact_show_mobile {
      display: none;
    }
  
  .card_phone {
        max-width: 200px;
        height: 370px;
        margin: -18% auto 10% auto;        
        border-top: 4px solid #fff;
        border-right: 3px solid #fff;
        border-left: 3px solid #fff;
        border-bottom: 10px solid #fff;        
      border-radius: 1.4em; 
    }

    .card_phone_screen {
       width: 90%;
       height: 310px;
       padding: 4%;
       margin: 10% auto 10% auto;
       border: 2px solid #fff;        
    }
    

} /* END MEDIA TABLET QUERY */

  
   /*----------------------------------------*/
    /* CONTACT STYLES on smartphone */
   
   /*----------------------------------------*/
   
@media screen and (max-width: 650px) {

    
  /* HIDE Smartphone Divs: doesn't looks cliche in a "smartphone". */
  .card_phone, .card_phone_screen {
        display: none;
    }

    /* SHOW Social media and h3 greeting */
    .contact_show_mobile {
      display: block;
    }


    section.contact {
      height: auto;
    }

    .contact_row {
      height: auto;
    }

    .contact_left {
      margin: 2% auto 4% auto;      
  }
  
  .contact_right {
    height: auto;
    margin: 6% auto 15% auto;
  }
  
  .form_container{
    height: auto;
  }

      .contact h3 {
        text-align: center;
      }


      .contact h3 {
        margin-top: 5%;
      }

      .contact label {
        font-size: 1.5em;
      }

      .contact_submit input {
          margin: 10% auto 0 auto;
      }

      /* CONTACT section SOCIAL MEDIA BUTTONS */

      .contact_left .social_media .fa-facebook {
        padding-top: 4%;
        padding-bottom: 1%;
      }


   } /* END media query: contact section smartphones*/
   
   
   
   




/* --------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/

        /* ----------------------------------------- */
                /*-- FOOTER STYLES   --*/
        /* ----------------------------------------- */


   
footer.footer {
  background: #204161;
  color: #fff;
  width: 100%;
  height: auto;
}


.footer_row_container {
    width: 100%;
    height: auto;
    margin: 8% auto 0 auto;
}

.footer_row_container .email_me a {
  text-decoration: none;
}

.footer .social_media {
  width: 100%;
  padding: 3% 5% 3% 5%;
  margin: 2% auto 2% auto;
}


.footer .social_media .fa {
  padding-top: 2%;
}

.footer_navbar {
  width: 100%;
  height: auto;
  margin: 10% auto 0 auto;
  border-bottom: 1px solid #fff;
}


.footer_navbar a {      
     font-size: 1em;     
     text-decoration: none;
     margin-right: -2%;     
   }


   .copyright_bar {
     width: 100%;
     height: auto;
     margin: 2%;
   }


   .copyright_bar p {
      text-align: center;
      margin: 0 auto 0 auto;
   }



   


   
/* FOOTER MEDIA QUERIES: TABLET STYLES  */

@media screen and (max-width: 700px) and (max-width: 1024px) {

    .footer_navbar a {      
      font-size: 1em;     
      text-decoration: none;
      margin-right: -6%;     
    }
          
} /* END FOOTER MEDIA QUERY: TABLET*/

/* --------------------------------------------------- */

               /* FOOTER MEDIA QUERIES: smartphone styles  */
/* --------------------------------------------------- */
   
   @media screen and (max-width: 650px) {

    
    .footer .social_media {
      width: 100%;
      height: 120px;
      margin: 0;      
    }
    
    .footer .fa {
      background: #000;
        width: 60px;
        height: 60px;
        padding: 5%;        
        margin: 4%;
        font-size: 2em;
    }


    .footer .social_media .fa-facebook {
      padding-top: 4%;
    }
    
    
    .footer .footer_navbar a {
        display: block;
        font-size: 1.6em;
    }

    .footer_navbar {
      border-top: 1px solid #fff;
    }

    .footer_copyright {
      text-align: center;
    }

   } /* END media query footer for smartphones*/





   /* -------------------------------------------- */
   
   /* -------------------------------------------- */
            /* FOOTER SOCIAL MEDIA ICON STYLES */
  /* -------------------------------------------- */

  .social_media {    
    width: 100%;
    height: max-content;
    margin: 4% auto 8% auto;    
  }
   
  .social_media h3 {
      font-family: 'Yellowtail', cursive;
      font-size: 3em;
      margin-bottom: 4%;      
  }
  
   .social_media .fa {
    background: #204161;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    padding: 2% 2% 2% 2%;
    margin: 2% 4% 2% 2%;
    font-size: 2em;
    text-align: center;
    text-decoration: none;    
  }
  
     

.social_media  .fa-facebook {   
  color: white;
  padding-top: 5%;
  padding-right: 2%;  
}

.social_media .fa-linkedin {      
      color: white;
      padding-top: 3%;
}



     /* SOCIAL MEDIA QUERIES: TABLET STYLES */
     

@media screen and (min-width:700px) and (max-width:1024px) {

    .social_media {    
      width: 100%;
      height: max-content;
      margin: 8% auto 8% auto;    
    }

    .social_media h3 {
      font-family: 'Yellowtail', cursive;
      font-size: 3em;
      line-height: 0.8;
      margin-top: 4%;
      margin-bottom: 8%;      
  }
      
    
    .fa {
      background: #204161;
      border: 1.5px solid #fff;
      width: 40px;
      height: 40px;
      padding: 2% 2% 2% 2%;
      margin: 2%;
      font-size: 1.4em;
      text-align: center;
      text-decoration: none;    
    }
    
      

  .social_media .fa-facebook {     
    color: white;
    padding-top: 4%;
    padding-right: 2%;  
  }

  .fa-linkedin {      
        color: white;
  }


}/* END MEDIA QUERY SOCIAL MEDIA TABLET STYLES */
  




/* SOCIAL MEDIA ICONS for SMARTPHONES */


@media screen and (max-width: 600px) {

    /* Have to show social media icon and h3s since card_phone div hides them */

    .contact_left .contact_show_mobile {
      display: block;
    }
    
  
  .social_media {
      width: 100%;      
      height: auto;
      margin:0;
    }
      
    
    .fa {      
        width: 60px;
        height: 60px;
        padding: 4%;
        margin: 5%;
        font-size: 2em;
        text-align: center;
        text-decoration: none;    
    }
      

  .fa-facebook {  
    font-size: 1.2em; 
    color: white;
    padding-top: 2.3%;
    padding-right: 2%;      
  }

  .fa-linkedin {      
        color: white;
  }

} /* END SOCIAL MEDIA MEDIA QUERY: SMARTPHONE STYLES */






