body {
    width: 90%;
    max-width: 100%;
    margin:4% 5% 0% 5%;
    font-size:12pt;
    font-family:verdana;
}

.alignThis hr {
    width: 60%;
    margin: auto;
    height: auto;
    border-bottom: 20px solid #000;
}

.addTitleStyles {
    font-weight: bold;
    margin-bottom: 2%;
}

div#titleLeft {
    clear:both;
    width:30%;
    float:left;
}

div#textRight {
    width:62%;
    float:right;
    padding-bottom:10%;
    padding-right:5%;
    margin-left:2%;
}

